@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-container {
  @apply flex flex-col w-[88px] items-center justify-between h-screen bg-[#f3f6fc] dark:bg-[#2d2f31] fixed z-[2];
}

.menu-container {
  @apply flex justify-center;
}

.sidebar-link {
  @apply w-20 mx-auto mt-1 mb-2 p-1 text-center flex flex-col justify-center items-center;
}

.icon-style {
  @apply w-14 mb-1 text-gray-800 transition-colors rounded-2xl bg-opacity-0 bg-gray-300
  dark:text-gray-300 dark:bg-opacity-0 dark:bg-gray-700;
}

.label-style {
  @apply text-xs cursor-pointer text-gray-800 relative items-center justify-center transition-colors
  dark:text-gray-300;
}

.drawer-menu {
  @apply fixed ml-[88px] w-[230px] top-0 right-0 bottom-0 left-0
          border-l border-solid border-[#e1e3e1] dark:border-[#444746]
          bg-[#f3f6fc] dark:bg-[#2d2f31]
          transition-all rounded-r-2xl z-[1];
}

.animation-slide-in {
  animation-duration: 0.2s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
}
.animation-slide-out {
  animation-duration: 0.2s;
  animation-name: slideOut;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
